{% extends 'basic.html' %}
{% load humanize %}
{% block body %}
<h1> Post detail </h1>

<div class="card col-md-12">
    <div class="card-header"> <h4>Title: {{postdetail.uppercase}}</h4></div>
    <div class="card-body row">
    <div class="card-body col-5"> <img class="image-rounded circle" src="{{postdetail.image.url}}" width="300" height="250" alt="img"></div>

    <div class="card-body col-5"> 
    By: {{postdetail.user.username}}   Created : {{postdetail.created_at|naturaltime}}<br> 
    Subject= {{ postdetail.get_subject_name }} <br>
    Class= {{ postdetail.get_class_name }} <br>

        Category= {{postdetail.category}}<br> 
        Medium= {{postdetail.medium}}<br> 
        Salary= {{postdetail.salary}} TK<br>
        Available= {% if postdetail.available %} Yes{% else %}No {% endif %} <br>
        Details= {{postdetail.details}}<br> 
        {% if request.user == postdetail.user %}
        <h4><a href="/education/edit/{{postdetail.id}}">Edit</a> </h4>
        <h4><a href="/education/delete/{{postdetail.id}}">Delete</a> </h4>
        {% endif %}
    </div>
   </div>
</div>

{% endblock body %}
