<!-- <h1>Hello withdraw</h1> -->
{% extends 'basic.html' %}
{% load crispy_forms_tags %}
{% block body %}
<style>
    .withdraw-left::after{
        content: "";
        position:absolute;
        right: 0;
        bottom: 0;
        height:90px;
        width:3px;
        background: red;
    }
</style>
<div class="row">
    <div class="withdraw-left col-md-6">
        <fieldset>
            <legend>Withdraw Information:</legend>
        <h5>Available Amount Balance: {{ balance }}</h5>
        <h5>Pending Cashout Amount: {{ pending_wd_amt }}</h5>
        <h5>Total Cashouted Amount: {{ wd_total_amt }}</h5> 
    </fieldset>
    </div>
    <div class="withdraw-right col-md-6">
        <div>
            <span>
                <fieldset>
                    <legend>Tax Information:</legend>
                <h5>Cashout Amount : {{ wdraw.cashout_amt }}</h5>
                <h5>Cashout Tax Amount: {{ wdraw.tax_paid_amt }}</h5>

                <h5>Total request cashout amount: {{reuuest_amt}}</h5>

             
            </fieldset>
            </span>

        </div>
        
     

    </div>
</div>






<hr>



<div class="card mt-5">
    
    <div class="card-body">

        <div class="col-md-6 offset-md-3">
            <form action="" method="post">
                {% csrf_token %}
                {{form|crispy}}
                
                <button type="submit" class="btn btn-primary">withdraw</button>
            </form>
        </div>

    </div>
</div>

{% endblock body %}